<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>Criado com
        <i class="material-icons copyright-icon">favorite</i>
        por
        <a class="copyright-link" href="https://about.me/mateusalves">Mateus Alves</a>
      </b>
    </div>
  </div>
</div>
